.header ul{
   list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-right:10vw;
}
.header{
    display: flex;
    justify-content: space-between;
    height:7vh;
    
}
/* logo */
.header div>img{
    margin-top: 1vw;
    margin-right: 1vw;
    width:3vw;
    height:3vw;
}
.header li{
    margin-right:2vw;
   text-align: center;
}
.header>div{
    display: flex;
    margin-left: 10vw;
   
}
.header img{
    width: 2vw;
    height:3vh;
}
.header div h5{
    width:30vw;
    height: 1.3rem;
    border-radius:0.5rem;
    background-color: lightgray;
    color:grey;
    padding-bottom: 1rem;
}
.body{
    display:flex;
    margin-top:2vw;
    justify-content: center;
    background-color: aliceblue;
    flex-wrap: wrap;
    width:98vw;
    height: 80vh;

}
.body>div{
    background-color: white;
    padding:1vw;
}
/* main content */
.body .aboutMe{
    width:20vw;
    text-align: center;;
}
.row_{
    display:flex;
    justify-content: space-between;
}
.aboutMe>img{
    width:5vw;
    padding-left: 5vw;
    padding-right:5vw;
}
.row_>img{
    width:2vw;
    height:1.5vw;
    padding-top:1vw;
}
.body .main{
    width:30vw;
}
.main .mypost img{
    width: 2vw;
    height:2vw;

}
.mypost div{
    display:flex;
}
.mypost div>img{
    margin-top:2rem;
}
.mypost>div>h5{
    border-style: solid;
    width:25vw;
    height:2.6vw;
    color:grey;
     font-size: 1.2rem;
     font-weight: 0.01rem;
    border-width:0.01rem ;
    border-radius: 1.2vw;
    padding-left:1vw;
    padding-top: 0.5vw;
}
.mypost ul{
    display:flex;
    list-style-type: none;
    text-align: center;
    justify-content: space-around;
}
.mypost li{
    margin: 1.7vw;
}

.body .section{
    width:20vw;
    
}
.footer{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    color:grey;
    align-content: center;
    font-size: 1.2rem;
}
